.body{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(204, 167, 118);
    width: 100% ;
}
.body-chef{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(102, 94, 84);
    width: 100% ;
}
/*BARRA NAVEGACIÓN*/
#barra-nav{
    background-color: rgb(30, 37, 124);
}
.nav-link, #nav-link-active{
    color: rgb(194, 206, 22);
    font-weight: bold;
}
.nav-link:hover, .nav-link:active   {
    color: yellow;
}
hr{
    color: yellow;
}
.logo{
    width: 50px;
}
.volver{
    color: rgb(30, 37, 124);
    border: 2px solid darkblue;
    border-radius: 1rem;
    padding: 10px;
}
main{
    padding: 1rem;
}

/*INICIO SESIÓN*/
.contenido{
    /*display: block;*/
    margin-left: 20%;
    margin-right: 20%;
    padding: 5rem;
    text-align: center;
    align-items: center;
}
#submit-sesion, #btn-registro{
    margin: 8px;
    padding: 10px;
    background-color: rgb(30, 37, 124);
    color: rgb(255, 230, 0);
    border-radius: 12px;
}

/*REGISTRO*/
.contenido2{
    display: block;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    border: 1px solid rgb(30, 37, 124);
    box-sizing: border-box;
}
.header{
    padding: 20px 40px;
    text-align: center;
    font-style: oblique;
    background-color: rgb(30, 37, 124);
    color: yellow;
}
.header h2 {
	margin: 0;
}
h4{
    padding: 10px;
    box-sizing: border-box;
}
/*INDEX*/
.banner-carrusel{
    display: block;
    width: 100%;
}
.contenido-index{
    display: block;
    width: 72%;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 4rem;
    box-sizing: border-box;
    border: 2px dotted brown;
    border-radius: 2rem;
}
/*MENU CLIENTE LOG*/
.saludo h3{
    display: block;
    padding: 1rem ;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: black
}
.contenedor{
    display: block;
    margin: auto;
    width: 100%;
}
.contenido3{
    display: inline-block;
    width: 72%;
    margin: 2rem;
    padding: 4rem;
    box-sizing: border-box;
    border-left: 2px dotted brown;
    border-right: 2px dotted brown;
    border-radius: 2rem;
}
.img-menu{
    color: black;
    display: block;
    margin: auto;
    width: 20rem;
    margin-bottom: 4rem;
}
#btn-menu{
    display: block;
    position: relative;
    margin: auto;
    margin-top: 1rem;
    width: 12rem;
    padding: 16px 20px;
    background-color: rgb(30, 37, 124);
    color: rgb(194, 206, 22);
    border: 2px solid rgb(30, 37, 124);
    font-weight: 500;
    font-size: large;
    border-radius: 15px;
    z-index: 1;
    overflow: hidden;
}
#btn-menu:hover{
    color: rgb(30, 37, 124);
    border: 2px solid rgb(30, 37, 124);
}
#btn-menu::after {
    content: "";
    background: rgb(194, 206, 22); /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    border-radius: 50%;
    left: -50%;
    right: -50%;
    top: -150%;
    bottom: -150%;
    transform: scale(0, 0);
    transition: all 0.4s ease;
  }
#btn-menu:hover::after {
    transition: all 0.6s ease-out;
    transform: scale(1, 1);
  }
.aside{
    width: 20%;
    margin: 2rem;
    margin-left: 0;
    min-height: 500px;
    background-color: rgb(196, 158, 110);
    float: right;
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid brown;
    text-align: center;
}
@media  screen and (max-width: 900px) {
    .aside{
        visibility: hidden;
    }
}
.widget{
    background-color: rgb(184, 142, 91);
    margin: 10px;
    min-height: 150px;
}
h3{
    font-weight: 100;
    color: rgb(184, 142, 91);
}
.sub{
    display: block;
    margin: auto;
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
    box-sizing: border-box;
    background-color: rgb(196, 158, 110);
    border: 1px solid brown;
}

/*PLATOS*/
.card{
      display: block ;
      margin: auto;
      width: 26rem;
      min-height: 15rem;
      /*margin: 2rem;*/
      margin-top: 2rem;
    margin-bottom: 4rem;
    padding: 1rem;
    background: transparent;
}
.division{
    padding: 1rem;
    border-bottom: 2px solid brown;
    border-top: 2px solid brown;
    border-left: none;
    border-right: none;
}
.card-img-top{
    display: block;
    height: 14rem;
    border: solid rgb(30, 37, 124);
    border-radius: 1rem;
}
.card-text{
    color: rgb(30, 37, 124);
    font-weight: bolder;
    font-size: larger;
    text-align: center;
    margin-bottom: 0;
}
.precio{
    display: block;
    color: blue;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 15px;
}
.btn-agregar{
    display: block;
    margin: auto;
    width: 70%;
    background-color: rgb(30, 37, 124);
    color: yellow;
    border: 1px solid yellow;
    border-radius: 1rem;
    padding: 8px;
    text-align: center;
}
.ver-mas{
    display: block;
    margin: auto;
    text-align: center;
    color: rgb(30, 37, 124);
}
.ver-mas:hover{
    color: blue;
    cursor: pointer;
}

/*MENÚ CHEF*/
.contenido4{
    margin: 5%;
    padding: 1rem;
}
.div{
    display: block;
    margin: 2rem;
    padding: 1rem;
    border: 2px solid black;
    border-left: none;
    border-right: none;
    border-radius: 1rem;
}
#img-chef{
    display: block;
    margin: auto;
    width: 15rem;
}
.texto-mc{
    color: rgb(255, 230, 0);
    font-size: xx-large;
    font-weight: 700;
    text-align: center;
    text-shadow: 2px  0px 0px rgb(30, 37, 124),
                0px  2px 0px rgb(30, 37, 124),
                -2px  0px 0px rgb(30, 37, 124),
                0px -2px 0px rgb(30, 37, 124);
}
#btn-mas, #btn-maas{
    display: block;
    margin: auto;
    width: 4rem;
    background-color: rgb(30, 37, 124);
    color: yellow;
    padding: 14px;
    border-radius: 2rem;
    font-weight: 500;
}
#btn-ver{
    display: block;
    margin: auto;
    width: 30%;
    background-color: rgb(30, 37, 124);
    color: yellow;
    padding: 14px;
    border-radius: 1rem;
    font-weight: 500;
}
.btn-modificar{
    display: block;
    margin: auto;
    width: 70%;
    background-color: rgb(30, 37, 124);
    color: yellow;
    border: 1px solid yellow;
    border-radius: 1rem;
    padding: 8px;
    text-align: center;
}
.textarea{
    display: block;
    margin: auto;
    width: 90%;
    min-height: 300px;
}

/*FOOTER*/
footer{
    background-color: rgb(30, 37, 124);
    width: 100%;
    bottom: 0;
    text-align: center;
}
.img-footer{
    margin-top: auto;
    padding: 2rem;
}

/*FORMULARIO*/
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');

#formulario{
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
}
#form{
    text-align: center;
    padding: 30px 40px 30px 40px;
}
.form-controle label{
    display: inline-block;
    margin-bottom: 5px;
    color: yellow;
    font-weight: 600;
    font-size: x-large;
    text-shadow: 2px  0px 0px rgb(30, 37, 124),
                0px  2px 0px rgb(30, 37, 124),
                -2px  0px 0px rgb(30, 37, 124),
                0px -2px 0px rgb(30, 37, 124);

    padding-top: 1rem;
}
.form-controle input{
    display: block;
    width: 100%;
    padding: 1rem;
    margin: 10px 10px 0 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 10px;
    font-size: 14px;
}
#btn-registro{
    margin-top: 30px;
    padding: 15px;
    background-color: rgb(30, 37, 124);
    color: yellow;
}
.form-controle input:focus {
	outline: 0;
	border-color: #777;
}

.form-controle.success input {
    border-width: 2px;
	border-color: #2ecc71;
}

.form-controle.error input {
    border-width: 2px;
	border-color: #db2511;
}

.form-controle i {
    position: absolute;
	visibility: hidden;
	top: 40px;
	right: 10px;
}

.form-controle.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-controle.error i.fa-exclamation-circle {
	color: #991e11;
	visibility: visible;
}

.form-controle small {
    font-weight: 600;

	color: #991e11;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-controle.error small {
	visibility: visible;
}